# Rust
/server/target/
server/target/
**/target/
Cargo.lock

# Nuxt & Node
/ui/.output/
/ui/.data/
/ui/.nuxt/
/ui/.nitro/
/ui/.cache/
/ui/dist/
/ui/node_modules/
/ui/packages/*/node_modules/

# Logs
logs
*.log
**/*.lock

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# 其他
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# bun
bun.lock

# VSCode
.vscode/
